* {
    box-sizing: border-box;
    outline: none;
}

html{
    overflow: hidden;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: paleturquoise;  
}
h1{
    font-size: 6em;
    font-family: monospace;
    margin: 10% auto 3%;
    width: fit-content;
}
#container {
    display: flex;
    width: 100%;
    margin: 12.5em auto;
    align-content: center;
}

#container img {
    
    flex: 1;
    max-width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
}

footer {
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background-color: rgba(0,0,0,0);
    margin: 0 auto;
    width: fit-content;
    display: block;
}

button img {
    width: 150px;
    height: 100px;
}

.hidden {
    display: none;
}

.search-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.dropdown {
    background-color: rgba(255, 255, 255, 0.959);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    width: 500px;
    color: black;
    font-size: 1em;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
}
.dropdown p{
    padding: 10px;
    margin: 0;
}

.dropdown p:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.search {
    width:500px;
    height:45px;
    font-size: 1.6em;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    color: rgb(58, 58, 58);
}

.search:focus{
    outline: rgb(94, 155, 224) solid 1px;
}
.search-button {
    background-color: burlywood;
    box-shadow: rgb(92, 57, 57);
    color: white;
    border-radius: 20px;
    font-size: 1.35em;
    margin-left: 20px;
    width:100px;
    height:40px;
}

#loadbar {
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    background-color: burlywood;
}



  @media (min-width: 768px) and (max-width: 1024px) {  
    
    h1{
        font-size: 5em;
    }

    #container {
        display: flex;
        margin: 9.75em auto;
    } 

    .search {
        width: 560px;
        height:40px;       
        font-size: 1.3em;
    }
    .search-button {       
        border-radius: 20px;
        font-size: 1.2em;
        margin-left: 15px;
        width: 92px;
        height:36px;
    }
    .dropdown { 
       background-color: rgba(255, 255, 255, 0.959);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        width: 560px;
        color: black;
        font-size: 1em;
        border-radius: 5px;
        position: fixed;
        z-index: 1;
    }    
    
    #container img {
        flex: 1;
        height: 35em;
        width: auto;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        margin-right: 5px;
    }

    footer {
        width: 100%;
        height: 15%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
    }
    
    button img {
        width: 100px;
        height: 100px;
    }
}


@media  (max-width: 768px) {  
    h1{
        font-size: 2.75em;
        font-weight: 900;
        margin: 40% auto 9%;
        text-align: center;
    }

    #container {
        display: flex;
        margin: 50% auto 20%;
    } 

    .search {
        width: 80%;
        height:40px;       
        font-size: 1.3em;
    }

    .search-button { 
        display: none;
    }

    .dropdown { 
        height: 60%;
         width: 80%;
        overflow: hidden;
    }

    #container img {
        height: 15em;
        width: auto;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        margin-right: 5px;
    }

    button img {
        width: 40%;
        height: 40%;
    }
}
