* {
    box-sizing: border-box;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: paleturquoise;
}
h1{
    font-size: 80px;
    font-family: monospace;
    margin: 175px auto 75px;
    width: fit-content;
}
img {
    flex: 1;
    height: 500px;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 5px;
}

footer {
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background-color: rgba(0,0,0,0);
    margin: 0 auto;
    width: fit-content;
    display: block;
}

button img {
    width: 150px;
    height: 100px;
}

.hidden {
    display: none;
}

.search-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.dropdown {
    background-color: rgba(255, 255, 255, 0.959);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    width: 500px;
    color: black;
    font-size: 1em;
    border-radius: 5px;
    /* padding: 20px 0; */
    position: fixed;
    z-index: 1;
}
.dropdown p{
    padding: 15px;
    margin: 0;
}

.dropdown p:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#container {
    display: flex;
    margin: 20px auto;
    width: 90%;
    margin: 200px auto;
    align-content: center;
}
.search {
    width:500px;
    height:45px;
    font-size: 1.6em;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    color: rgb(58, 58, 58);
}

.search:focus{
    outline: rgb(94, 155, 224) solid 1px;
}
.search-button {
    background-color: burlywood;
    box-shadow: rgb(92, 57, 57);
    color: white;
    border-radius: 20px;
    font-size: 1.35em;
    margin-left: 20px;
    width:100px;
    height:40px;
}

#loadbar {
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    background-color: burlywood;
}

#wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    
}
